:root {
  --bg-1: #292f36;
  --bg-2: #1a1e23;
  --brand-1: #12f7d6;
  --brand-2: #98faec;
  --grey: #43454d;
  --white: #ffffff;

   font-family: var(--font-family);

  .code {
    font-family: var(--second-family);
  }
}
